
        
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Hecho por Bryan Cárdenas Amariles</mat-card-title>
            <mat-card-subtitle>Un simple estudiante de Ingeniería de Sistemas</mat-card-subtitle>
          </mat-card-header>
        
        <img mat-card-image src="https://scontent.feoh4-1.fna.fbcdn.net/v/t1.0-9/56960687_10219478144247884_8357653560812371968_n.jpg?_nc_cat=107&_nc_eui2=AeGfAd2X95F75OT892EQGT0Cu6XjVFNRh6SF4bXaPHtyyBmLs3wbn8EvGtO-DmRFbcikZAM5_nwG5lcp1Q3mMUaST_TKV-R_0gRjStv-zD2mmQ&_nc_oc=AQkE8oDnImWaZG3sutY4vlyXV-dUU84tom1gPWUJSqZGNOGoERlYhTYODpfwnq8P8k4&_nc_ht=scontent.feoh4-1.fna&oh=671c5684cb21092f97e80aa8581ba253&oe=5D789EF8" alt="Mi foto">
        <mat-card-content><p>Para Proyecto Integrador</p></mat-card-content>		
        <mat-card-actions>
            <button mat-button>Me gusta</button>
            <button mat-button>Me disgusta</button>
          </mat-card-actions>

    </mat-card>
